<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Uncommon Value With Uncompromising Integrity – Your South Carolina Process Server - Palmetto Legal GophersPalmetto Legal Gophers</title>
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="/img/favicons/favicon.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/img/favicons/apple-touch-icon-57-precomposed.png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="/css/styles.css?cb=1745959438603">
	</head>
	<body class="h-100 bg-plg-light-blue">
		{% include "nav-mobile.md" %}
		{% include "header.md" %}
		<main class="main-wrapper container d-flex flex-column flex-md-row pt-md-3">
			<aside class="sidebar d-none d-md-block col-md-4 position-relative">
				<div class="main-logo-wrapper position-sticky">
					<object class="main-logo mx-md-auto pe-none" type="image/svg+xml" data="img/logo/plg_logo_black.svg">
						PLG Logo <!-- fallback image in CSS -->
					</object>
					<div class="sidebar-content nav flex-column">
						<a class="nav-link sidebar-item sidebar-email py-1" href="mailto:jobs@palmettolegalgophers.com"><i class="bi bi-envelope-fill pe-1"></i>Palmetto Legal Gophers</a>
						<a class="nav-link sidebar-item sidebar-phone py-1" href="tel:8032161621" title="Call Us: 803-216-1621" target="_blank"><i class="bi bi-telephone-fill pe-1"></i><span>803-216-1621</span></a>
					</div>
				</div>
			</aside>

			<div class="main-content col-12 col-md-8">
				{{ content | safe }}
			</div>
		</main>


		{% include "footer.md" %}



		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
		<script src="/js/index.js?cb=1745959438603"></script>
	</body>
</html>
